/*Date created: Sep 24, 2021 */
/*Date modified: Dec 4, 2021 */


.top_root_element, #root
{
    height: 655px;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}
.main_background
{
    height: 655px;
    width: 100vw;
    background-image: url("./res/img_background.jpg");
    background-size: cover;
    color: white;
}
.container
{
    width: calc(97.5vw - 30px);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px 30px;
}
.portfolio_text
{
    padding-top: 300px;
}
/*.hub_section_1
{
    height: 200px;
    min-width: 200px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #9bbe83;
    padding: 30px;
}*/
.card
{
    height: 240px;
    min-width: calc(150px - 10px);
    max-width: calc(150px - 10px);
    box-shadow: rgb(51, 51, 51) 10px 10px 20px;
    background-color: white;
    /*padding: 0px 10px;*/
    border-radius: 10px;
    overflow: hidden;
    transition: all 250ms ease-in-out 0s;
    margin-right: 30px;
    background-color: white;
}

.card:hover
{
    box-shadow: rgb(0, 0, 0) 20px 20px 40px;
}
.factualCards:hover
{
    filter: invert(80%);
}
.img_stuff
{
    transition: opacity 600ms ease-in-out 0s;
}
.separator_element
{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabbed_menu_container
{
    height: 400px;
    width: calc(97.5vw - 30px);
    padding: 0px 30px;
    background-color: #090;
}
.visibleBadge
{
    position: relative;
    top: -20px;
    left: 0px;
    height: 40px;
    width: 140px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #9bbe83;
}
.badgeContent
{
    position: relative;
    top: -19px;
    left: 0px;
    height: 40px;
    width: 140px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.btns
{
    display: flex;
}
.tablink
{
    width: calc(10vw - 10px);
    padding: 0px 10px;
    border: medium none;
    outline: currentcolor none medium;
    background-color: grey;
    color: white;
    float: left;
}
.tabcontent
{
    display: none;
    padding: 0px 10px;
    width: calc(30vw - 10px);
    height: 140px;
    background-color: black;
    color: white;
}
.flex_stuff
{
    display: flex;
}
.center_stuff
{
    justify-content: center;
    align-items: center;
}
.vertic
{
    flex-direction: column;
}
.separator_element_2
{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.activeTab
{
    background-color: white;
}
.bottomLink
{
    width: 7px;
    height: 7px;
    border-radius: 3.5px;
    background-color: grey;
    margin: 4px;
}
.contact_support
{
    padding: 50px 40px;
    height: calc(400px - 50px);
    width: calc(97.5vw - 40px);
    margin: auto;
    background-image: url("./res/img_reach_us.jpg");
    background-size: cover;
    color: grey;
}
.horiz
{
    flex-direction: row;
}
.card_container
{
    height: calc(270px - 10px);
    width: calc(1640px - 20px);
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 10px;
    background-color: #9bbe83;
}
.spaceEven
{
    justify-content: space-evenly;
}
.default_open
{
    background-color: black;
    color: white;
}
.myAddForm
{
    position: absolute;
    width: calc(40vw - 50px);
    height: calc(300px - 100px);
    top: 100px;
    left: 400px;
    background-color: #9bbe83;
    border-radius: 10px;
    z-index: 2;
    padding: 100px 50px;
}
.opaqueBackground
{
    position: absolute;
    z-index: 1;
    width: 97.5vw;
    height: 2000px;
    background-color: rgba(5, 5, 5, 0.3);
}
.hide_stuff
{
    display: none;
}
.myAddBn
{
    width: 19vw;
    height: 40px;
    margin-left: 80px;
    margin-top: 13px;
    outline: none;
    border-radius: 10px;
    background-color: #9bbe83;
}
/*td, th
{
    width: 200px;
    height: 20px;
    color: black;
}*/
.myTbl, th, tr, td
{
    border: solid 1px black;
    border-collapse: collapse;
}
.welcome_section
{
    width: 97.5vw;
}
.addBorderRadius
{
    border-radius: 20px;
}
.changeColor
{
    filter: invert(100%);
}
.moveLeft
{
    position: absolute;
    top: 15px;
    left: 5vw;
}
.moveRight
{
    position: absolute;
    top: 15px;
    left: 70vw;
}
.moveRightMore
{
    position: absolute;
    top: 15px;
    left: 75vw;
}
.moveIntoSearch
{
    position: absolute;
    top: 15px;
    left: 84vw;
}
.moveRightMost
{
    position: absolute;
    top: 15px;
    left: 90vw;
}
.underlineStuff:hover
{
    border-bottom: solid 4px white;
}
.defaultUnderline
{
    border-bottom: solid 4px white;
}
.myTopLinks
{
    height: 45px;
    min-width: 80px;
}
.mySearchBar
{
    height: 26px;
    width: 140px;
    outline: none;
    border: none;
}
.hideOverflow
{
    overflow: hidden;
}
.stickyDiv
{
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0px;
    /*background-color: #9bbe83;*/
    background-color: #060;
    z-index: 3;
}
.positionAtTop
{
    position: relative;
    height: 40px;
    min-width: 40vw;
    top: -240px;
    left: 0vw ;
}
.positionAtBottom
{
    position: relative;
    height: 40px;
    width: 40vw;
    top: 90px;
}
